/* Jenkins test */
node-type-individual-data-mn .vertical-tabs-panes fieldset.active {min-height: 900px;}
.node-type-individual-data-mn .vertical-tabs-panes fieldset#edit-group_indv_comp.active {min-height: 1070px;}
.main-container #edit-actions {width: 220px; position: relative;}
.node-type-individual-data-mn .main-container #edit-actions {  height: 400px; margin-top: -300px;}
.main-container #edit-actions {width: 220px; position: relative;  }
.page-node-edit.node-type-individual .tabs--primary.nav.nav-tabs,
#edit-field-date-of-entry-into-ende { display: none;}
button#edit-preview {display: none;}
.form-type-checkbox label.control-label input, .form-type-radio label.control-label input {margin-right: 7px;}
label[for="edit-field-ind-ethnicity-und-none"] {display:none;}
